h1 {color:blue; font-size: 12px;}

#coverimage {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

#title {
  font-size: 4em;
  color: #b89041;
  font-family: '#586470';
  font-weight: bold;
}

.halfrow {
  backround-color: #586470;
  font-color: White;
}
